<html>
<head>
	<title>Dashboard</title>
</head>
<body>
<div id="logout">
	<a href="{% url 'dil:logout'%}">logout</a>
</div>
<div id="LeaderBoard" style="height: 100%;width: 30%;float: left">
	<ol>
		{% for user in ranked_list %}
			<li><a href="{% url 'dil:visit_profile' user_name user %}">{{user}}</a></li>
		{% endfor %}
	</ol>
</div>
<div id="profile" style="width:35%;">
	{{ user_name }}
	<p>
		Red Roses - {{user_details.red_rose}}
		Yellow Roses - {{user_details.yellow_rose}}
	</p>
</div>
<div id="messages">
	{% for messages in message_list %}
	{{ messages.frm }}
	{{ messages.message }}
	{% endfor %}
</div>
</body>
</html>