<html>
<head>
	<title>Dashboard</title>
</head>
<body>
	<a href="{% url 'dil:logout'%}">logout</a><br>
	<ol>
		{% for user in ranked_list %}
			<li><a href="{% url 'dil:visit_profile' user_name user %}">{{user}}</a></li>
		{% endfor %}
	</ol><br><hr>
	
	<h1>{{ user_name }}</h1><br>
	<p>
		Red Roses - {{user_details.red_rose}}<br>
		Yellow Roses - {{user_details.yellow_rose}}
	</p><hr>

	{% for messages in message_list %}
		From:{{ messages.frm }}<br>
		Time:{{messages.sent_time}}<br>
		message:{{ messages.message }}<br><hr>
	{% endfor %}	
</body>
</html>