{% load static%}
<html>
<head>
	<title>{{profile_user}}</title>
</head>
<body>
<div id="logout">
	<a href="{% url 'dil:logout'%}">logout</a>
</div>
	<ol>
		{% for user in ranked_list %}
			<li><a href="{% url 'dil:visit_profile' user_name user %}">{{user}}</a></li>
		{% endfor %}
	</ol>

	<h1>{{ profile_user }}</h1>
	<p>
		Red Roses - {{visiting_user_details.red_rose}}
		Yellow Roses - {{visiting_user_details.yellow_rose}}
	</p>
	<a href="{% url 'dil:red_inc' user_name profile_user%}">inc red</a><br>
	<a href="{% url 'dil:yellow_inc' user_name profile_user%}">inc yellow</a><br><hr>
	
	{% for msg in result_list %}
		{% if msg.frm.username == user_name %}
			<p style="text-align:right;">
			Time:{{msg.sent_time}}<br>
			{{msg.message}}<br>
			</p><hr>
		{% elif msg.frm.username == profile_user %}
			<p>
			Time:{{msg.sent_time}}<br>
			{{msg.message}}<br>
			</p><hr>
		{% endif %}
	{% endfor %}
<div>
	<form action="{% url 'dil:visit_profile' user_name profile_user%}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" name="submit" >
	</form>
</div>
</body>
</html>